<div class="container" *ngIf="route">
  <h1>Route details</h1>

  <p>
    <a [routerLink]="['/stations', route.start_station.id]">{{ route.start_station.name }}</a>
    to
    <a [routerLink]="['/stations', route.end_station.id]">{{ route.end_station.name }}</a>
  </p>

  <ul>
    <li *ngIf="route.nickname != null">Aka {{ route.nickname }}</li>
    <li>Length: {{ route.length }} km</li>
    <li>Maximum permitted speed of {{ route.max_speed }} km/h</li>
    <li>Traffic: {{ route.type }}</li>
    <li>Actual state: {{ route.actual_state }}</li>
    <li *ngIf="route.opening_year != null">Opened in {{ route.opening_year }}</li>
    <li *ngIf="route.latest_maintenance != null">Latest maintenance in {{ route.latest_maintenance }}</li>
    <li>Gauge: {{ route.gauge }} mm</li>
    <li>Electrification status: {{ route.electrified }}</li>
    <li *ngIf="route.electrification_voltage != null">Electrification voltage: {{ route.electrification_voltage }} V</li>
  </ul>

  <h4>Trains on this route</h4>
  <ul>
    <li *ngFor="let train of trains">
      <a [routerLink]="['/trains', train.id]">
        {{ train.model.name }} {{ train.number }}
      </a>
    </li>
  </ul>

  <a routerLink="/routes">Back to the list</a>
</div>
