<div *ngIf="errors.non_field_errors" class="text-danger mt-2">
  <p *ngFor="let err of errors.non_field_errors">{{ err }}</p>
</div>

<form method="POST" (ngSubmit)="onSubmit()" class="mt-2">
  <div class="mb-3">
    <label for="name" class="form-label label-color">Name*</label>
    <input id="name" name="name" type="text" class="form-background" required [(ngModel)]="station.name"/>
    <div *ngIf="errors.name" class="text-danger mt-2">{{ errors.name[0] }}</div>
  </div>

  <div class="mb-3">
    <label for="city" class="form-label label-color">City*</label>
    <input id="city" name="city" type="text" class="form-background" required [(ngModel)]="station.city"/>
    <div *ngIf="errors.city" class="text-danger mt-2">{{ errors.city[0] }}</div>
  </div>

  <div class="mb-3">
    <label for="platforms" class="form-label label-color">Platforms*</label>
    <input id="platforms" name="platforms" type="number" class="form-background" required min="1" [(ngModel)]="station.platforms"/>
    <div *ngIf="errors.platforms" class="text-danger mt-2">{{ errors.platforms[0] }}</div>
  </div>

  <div class="mb-3">
    <label for="openingYear" class="form-label label-color">Opening year</label>
    <input id="openingYear" name="opening_year" type="number" min="0" class="form-background" [(ngModel)]="station.opening_year"/>
    <div *ngIf="errors.opening_year" class="text-danger mt-2">{{ errors.opening_year[0] }}</div>
  </div>

  <div class="mb-2">
    <label for="mainStation" class="form-label label-color">Main station in town*</label>
    <select id="mainStation" name="main_station" class="form-background" required [(ngModel)]="station.main_station">
      <option [value]="true">Yes</option>
      <option [value]="false">No</option>
    </select>
    <div *ngIf="errors.main_station" class="text-danger mt-2">{{ errors.main_station[0] }}</div>
  </div>

  <div class="mb-3">
    <label for="actualState" class="form-label label-color">Actual state*</label>
    <select id="actualState" name="actual_state" class="form-background" required [(ngModel)]="station.actual_state">
      <option *ngFor="let state of actual_states" [value]="state[0]">{{ state[1] }}</option>
    </select>
    <div *ngIf="errors.actual_state" class="text-danger mt-2">{{ errors.actual_state[0] }}</div>
  </div>

  <button type="submit" class="btn my-2 btn-success"><span class="fa-solid fa-add me-2"></span>Add station</button>
</form>
