<div *ngIf="errors.non_field_errors" class="text-danger mt-2">
  <p>{{ errors.non_field_errors[0] }}</p>
</div>

<form method="POST" (submit)="updateUser()">
  <div class="mb-3">
    <label for="username" class="form-label label-color">Username*</label>
    <input id="username" name="username" type="text" class="form-background" [(ngModel)]="user.username" required />
    <div *ngIf="errors.username" class="text-danger mt-2">{{ errors.username[0] }}</div>
  </div>

  <div class="mb-3">
    <label for="firstName" class="form-label label-color">First name</label>
    <input id="firstName" name="first_name" type="text" class="form-background" [(ngModel)]="user.first_name" />
    <div *ngIf="errors.first_name" class="text-danger mt-2">{{ errors.first_name[0] }}</div>
  </div>

  <div class="mb-3">
    <label for="lastName" class="form-label label-color">Last name</label>
    <input id="lastName" name="last_name" type="text" class="form-background" [(ngModel)]="user.last_name" />
    <div *ngIf="errors.last_name" class="text-danger mt-2">{{ errors.last_name[0] }}</div>
  </div>

  <div class="mb-3">
    <label for="email" class="form-label label-color">Email address*</label>
    <input id="email" name="email" type="text" class="form-background" [(ngModel)]="user.email" required />
    <div *ngIf="errors.email" class="text-danger mt-2">{{ errors.email[0] }}</div>
  </div>

  <button type="submit" class="btn btn-success mt-2 mb-4"><span class="fa-solid fa-up-to-line me-2"></span>Update profile</button>
</form>
