<div class="container">
  <h1>Routes</h1>
  <button (click)="loadRoutes()">Load routes</button>

  <ul>
    <li *ngFor="let route of routes">
      {{ route.start_station.name }} to {{ route.end_station.name }}
      <ul>
        <li *ngIf="route.nickname != null">Aka {{ route.nickname }}</li>
        <li>Length: {{ route.length }} km</li>
        <li>Maximum permitted speed of {{ route.max_speed }} km/h</li>
        <li>Traffic: {{ route.type }}</li>
        <li>Actual state: {{ route.actual_state }}</li>
        <li *ngIf="route.opening_year != null">Opened in {{ route.opening_year }}</li>
        <li *ngIf="route.latest_maintenance != null">Latest maintenance in {{ route.latest_maintenance }}</li>
        <li>Gauge: {{ route.gauge }} mm</li>
        <li>Electrification status: {{ route.electrified }}</li>
        <li *ngIf="route.electrification_voltage != null">Electrification voltage: {{ route.electrification_voltage }} V</li>
      </ul>
    </li>
  </ul>
</div>
