<div class="text-center p-3">
  <h1 class="title-color">Welcome to Railway <span class="fa-solid fa-train"></span> Manager!</h1>
  <p class="label-color">With this app you can manage stations, routes and trains efficiently.</p>
  <hr class="label-color">
  <div class="text-start mx-5 mt-5">
    <div class="row d-flex justify-content-center">
      <div class="site-box shadow col-md-4 p-4">
        <h2 class="text-white">🚆 What's this app for?</h2>
        <p class="label-color">
          This app is designed to help users explore and manage railway information efficiently. <br> Whether you're a train
          enthusiast, a traveler, or a system administrator, you can access key <br> data about stations, routes, train models,
          and active trains.
        </p>
      </div>
      <div class="text-end site-box shadow col-md-6 ms-3 p-4 mt-4 mt-md-0">
        <h2 class="text-white">🔍 What Can I Do With This App?</h2>
        <p class="label-color">
          With this app, you can: <br>
          Browse detailed information about train stations and routes ✅<br>
          Explore various train models and their specifications ✅<br>
          View and manage active trains in the system ✅<br>
          If authenticated, add, update, or delete relevant data ✅<br>
        </p>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="site-box shadow mt-4 p-4 col-md-6">
        <h2 class="text-white">🛠️ How Do I Use It?</h2>
        <p class="label-color">
          Using the app is simple: <br>

          1️⃣ Navigate through the sections to explore railway data. <br>
          2️⃣ Log in or register for additional functionalities like adding or modifying data. <br>
          3️⃣ Access key resources through the links below: <br><br>

          <a class="link-color text-decoration-none" routerLink="/stations">🔗 Stations</a> <br>
          <a class="link-color text-decoration-none" routerLink="/routes">🔗 Routes</a> <br>
          <a class="link-color text-decoration-none" routerLink="/train-models">🔗 Train Models</a> <br>
          <a class="link-color text-decoration-none" routerLink="/trains">🔗 Trains</a> <br><br>

          🚀 Start exploring and managing railway data now!
        </p>
      </div>
    </div>
  </div>
</div>
