<div class="container" *ngIf="station">
  <h1>Station details</h1>

  <input
    *ngIf="authService.isAuthenticated()"
    type="button"
    (click)="toggleForm()"
    [value]="showForm ? 'Cancel' : '~ Edit'"
    class="btn"
    [class]="showForm ? 'btn-danger' : 'btn-primary'"
  />
  <div *ngIf="showForm" class="col-12 col-md-3 mt-3 mt-lg-0">
    <app-stations-update [station]="station" (updatedStation)="station = $event"></app-stations-update>
  </div>

  <p>{{ station.name }} ({{ station.city }})</p>
  <ul>
        <li>{{ station.platforms }} platforms</li>
        <li *ngIf="station.opening_year != null">Opened in {{ station.opening_year }}</li>

        <li *ngIf="station.main_station">It's the main station</li>
        <li *ngIf="!station.main_station">It's not the main station</li>

        <li>Actual state: {{ station.actual_state }}</li>
  </ul>

  <h4>Routes starting here</h4>
  <ul>
    <li *ngFor="let route of station.start_routes">
      <a [routerLink]="['/routes', route.id]">
        {{ route.start_station.name }} - {{ route.end_station.name }}
      </a>
    </li>
  </ul>

  <h4>Routes ending here</h4>
  <ul>
    <li *ngFor="let route of station.end_routes">
      <a [routerLink]="['/routes', route.id]">
        {{ route.start_station.name }} - {{ route.end_station.name }}
      </a>
    </li>
  </ul>

  <a routerLink="/stations">Back to the list</a>
</div>
