<div class="container mt-5">
  <h2>Password reset</h2>

  <div *ngIf="errors.non_field_errors" class="text-danger mt-2">
    <p>{{ errors.non_field_errors[0] }}</p>
  </div>

  <div *ngIf="error" class="text-danger mt-2">
    <p>{{ error }}</p>
  </div>

  <form (submit)="resetPassword()">
    <div class="mb-3">
      <label for="username" class="form-label">Username*</label>
      <input id="username" name="username" type="text" class="form-control" [(ngModel)]="username" required>
      <div *ngIf="errors.username" class="text-danger mt-2">{{ errors.username[0] }}</div>
    </div>
    <div class="mb-3">
      <label for="oldPassword" class="form-label">Old Password*</label>
      <input id="oldPassword" name="old_password" type="password" class="form-control" [(ngModel)]="oldPassword" required>
      <div *ngIf="errors.old_password" class="text-danger mt-2">{{ errors.old_password[0] }}</div>
    </div>
    <div class="mb-3">
      <label for="newPassword" class="form-label">New Password*</label>
      <input id="newPassword" name="new_password" type="password" class="form-control" [(ngModel)]="newPassword" required>
      <div *ngIf="errors.new_password" class="text-danger mt-2">{{ errors.new_password[0] }}</div>
    </div>
    <div class="mb-3">
      <label for="newPasswordConfirm" class="form-label">Confirm New Password*</label>
      <input id="newPasswordConfirm" name="new_password_confirm" type="password" class="form-control" [(ngModel)]="newPasswordConfirm" required>
    </div>
    <button type="submit" class="btn btn-primary">Reset Password</button>
  </form>
</div>
