<div class="container my-5 site-box p-4 shadow col-lg-4">
  <h2 class="title-color"><span class="fa-solid fa-shredder me-3"></span>Password reset</h2>

  <div *ngIf="errors.non_field_errors" class="text-danger mt-2">
    <p>{{ errors.non_field_errors[0] }}</p>
  </div>

  <div *ngIf="error" class="text-danger mt-2">
    <p>{{ error }}</p>
  </div>

  <form (submit)="resetPassword()">
    <div class="mb-3">
      <label for="username" class="form-label label-color">Username*</label>
      <input id="username" name="username" type="text" class="form-background" [(ngModel)]="username" required>
      <div *ngIf="errors.username" class="text-danger mt-2">{{ errors.username[0] }}</div>
    </div>

    <div class="mb-3">
      <label for="oldPassword" class="form-label label-color">Old Password*</label>
      <input id="oldPassword" name="old_password" type="password" class="form-background" [(ngModel)]="oldPassword" required>
      <div *ngIf="errors.old_password" class="text-danger mt-2">{{ errors.old_password[0] }}</div>
    </div>

    <div class="mb-3">
      <label for="newPassword" class="form-label label-color">New Password*</label>
      <input id="newPassword" name="new_password" type="password" class="form-background" [(ngModel)]="newPassword" required>
      <div *ngIf="errors.new_password" class="text-danger mt-2">{{ errors.new_password[0] }}</div>
      <div class="label-color mt-2">
        New password must:
        <ul>
          <li>
            Be at least 8 characters long
          </li>
          <li>
            Contain at least one uppercase letter
          </li>
          <li>
            Contain at least one lowercase letter
          </li>
          <li>
            Contain at least one digit
          </li>
          <li>
            Contain at least one special character (excluding \ " ' [ ] - ;)
          </li>
        </ul>
      </div>
    </div>

    <div class="mb-3">
      <label for="newPasswordConfirm" class="form-label label-color">Confirm New Password*</label>
      <input id="newPasswordConfirm" name="new_password_confirm" type="password" class="form-background" [(ngModel)]="newPasswordConfirm" required>
    </div>

    <p class="label-color">Remembered it? <a routerLink="/login" class="link-color">Login</a></p>

    <button type="submit" class="btn btn-primary"><span class="fa-solid fa-shredder me-2"></span>Reset Password</button>
  </form>
</div>
