<div class="container">
  <h1>Stations</h1>
  <input
    type="button"
    (click)="toggleForm()"
    [value]="showForm ? 'Cancel' : '+ New'"
    class="btn"
    [class]="showForm ? 'btn-danger' : 'btn-primary'"
  />
  <div *ngIf="showForm" class="col-12 col-md-3 mt-3 mt-lg-0">
    <app-stations-add (addStationEvent)="addStation($event)" [errors]="errors"></app-stations-add>
  </div>
  <ul>
    <li *ngFor="let station of stations">
      <a [routerLink]="['/stations', station.id]">{{ station.name }} ({{ station.city }})</a>
    </li>
  </ul>
</div>
