<div class="container mt-5 site-box p-4 shadow col-lg-6">
  <h1 class="title-color"><span class="fa-solid fa-house-flag me-3"></span>Stations</h1>

  <button
    *ngIf="authService.isAuthenticated()"
    (click)="toggleForm()"
    class="btn mt-3 mb-1"
    [ngClass]="showForm ? 'btn-danger' : 'btn-primary'"
  >
    <span class="fa-solid me-1" [ngClass]="showForm ? 'fa-times' : 'fa-plus'"></span>
    {{ showForm ? 'Cancel' : 'New' }}
  </button>
  <div *ngIf="showForm">
    <app-stations-add (addStationEvent)="addStation($event)" [errors]="errors"></app-stations-add>
  </div>

  <table *ngIf="stations" class="w-100 mt-3 border-table">
    <thead class="title-color text-center">
    <th class="py-2">Name</th>
    <th class="py-2">City</th>
    <th class="py-2">Actions</th>
    </thead>
    <tbody class="label-color">
    <tr *ngFor="let station of stations">
      <td class="py-2 ps-3 w-50">
        <p>{{ station.name }}</p>
      </td>
      <td class="py-2 ps-3 w-25">
        <p>
          {{ station.city }}
        </p>
      </td>
      <td class="w-25">
        <a [routerLink]="['/stations', station.id]" class="btn btn-primary mx-3"><span class="fa-solid fa-info-circle"></span></a>
        <button *ngIf="station.start_routes.length === 0 && station.end_routes.length === 0 && authService.isAuthenticated()" (click)="deleteStation(station)" class="btn btn-danger mt-2 ms-3 mt-md-0 ms-md-0"><span class=" fa-solid fa-trash"></span></button>
      </td>
    </tr>
    </tbody>
  </table>

  <p class="text-white" *ngIf="stations.length === 0">There are currently no stations</p>
</div>
