<div class="container mt-5">
  <h2 class="title-color"><span class="fa-solid fa-user me-3"></span>Profile Details</h2>

  <button
    (click)="toggleForm()"
    class="btn my-3"
    [ngClass]="showForm ? 'btn-danger' : 'btn-primary'"
  >
    <span class="fa-solid me-1" [ngClass]="showForm ? 'fa-times' : 'fa-edit'"></span>
    {{ showForm ? 'Cancel' : 'Edit' }}
  </button>
  <div *ngIf="showForm" class="col-12 col-md-3">
    <app-user-update [user]="user" (updatedUser)="user = $event"></app-user-update>
  </div>

  <div *ngIf="user" class="label-color">
    <p>Username: {{ user.username }}</p>
    <p *ngIf="user.first_name.length !== 0">First name: {{ user.first_name }}</p>
    <p *ngIf="user.last_name.length !== 0">Last name: {{ user.last_name }}</p>
    <p>Email address: {{ user.email }}</p>
    <p *ngIf="user.is_staff">You are a staff user</p>
    <p *ngIf="user.is_superuser">You are a superuser</p>
    <p *ngIf="user.is_active">Your account is active</p>
    <p *ngIf="!user.is_active">Your account is not active</p>
    <p>Account created on {{ user.date_joined }}</p>
  </div>

  <button class="btn btn-danger mt-3" (click)="deleteUser()"><span class="fa-solid fa-trash me-2"></span>Delete account</button>
</div>
