<div class="container mt-5" *ngIf="trainModel">
  <h1 class="title-color"><span class="fa-solid fa-train me-3"></span>Train model details</h1>

  <button
    *ngIf="authService.isAuthenticated()"
    (click)="toggleForm()"
    class="btn my-3"
    [ngClass]="showForm ? 'btn-danger' : 'btn-primary'"
  >
    <span class="fa-solid me-1" [ngClass]="showForm ? 'fa-times' : 'fa-edit'"></span>
    {{ showForm ? 'Cancel' : 'Edit' }}
  </button>
  <div *ngIf="showForm" class="col-12 col-md-3">
    <app-train-models-update [trainModel]="trainModel" (updatedTrainModel)="trainModel = $event"></app-train-models-update>
  </div>

  <p class="label-color">{{ trainModel.name }} ({{ trainModel.type }})</p>

  <ul class="label-color">
    <li *ngIf="trainModel.nickname != null">Aka {{ trainModel.nickname }}</li>

    <li>Maximum speed of {{ trainModel.max_speed }} km/h</li>

    <li *ngIf="trainModel.seats != null">{{ trainModel.seats }} seats</li>

    <li>Dimensions: {{ trainModel.length }} m (L) x {{ trainModel.height }} m (H) x {{ trainModel.width }} m (W)</li>
    <li>Weight of {{ trainModel.weight }} t</li>
    <li>Gauge: {{ trainModel.gauge }} mm</li>
    <li>Power output of {{ trainModel.power_output }} kW</li>
    <li>Power system: {{ trainModel.power_system }}</li>
    <li>Composition: {{ trainModel.composition }}</li>
  </ul>

  <h4 class="title-color"><span class="fa-solid fa-train-tunnel me-2"></span>Trains of this model</h4>
  <ul class="label-color">
    <li *ngFor="let train of trains">
      <a class="link-color" [routerLink]="['/trains', train.id]">
        {{ train.model.name }} {{ train.number }}
      </a>
    </li>
  </ul>

  <a class="btn btn-secondary mt-3" routerLink="/train-models"><span class="fa-solid fa-arrow-left me-2"></span>Back to the list</a>
</div>
