<div class="container" *ngIf="trainModel">
  <h1>Train model details</h1>

  <p>{{ trainModel.name }} ({{ trainModel.type }})</p>

  <ul>
    <li *ngIf="trainModel.nickname != null">Aka {{ trainModel.nickname }}</li>

    <li>Maximum speed of {{ trainModel.max_speed }} km/h</li>

    <li *ngIf="trainModel.seats != null">{{ trainModel.seats }} seats</li>

    <li>Dimensions: {{ trainModel.length }} m (L) x {{ trainModel.height }} m (H) x {{ trainModel.width }} m (W)</li>
    <li>Weight of {{ trainModel.weight }} t</li>
    <li>Gauge: {{ trainModel.gauge }} mm</li>
    <li>Power output of {{ trainModel.power_output }} kW</li>
    <li>Power system: {{ trainModel.power_system }}</li>
    <li>Composition: {{ trainModel.composition }}</li>
  </ul>

  <h4>Trains of this model</h4>
  <ul>
    <li *ngFor="let train of trains">
      <a [routerLink]="['/trains', train.id]">
        {{ train.model.name }} {{ train.number }}
      </a>
    </li>
  </ul>

  <a routerLink="/train-models">Back to the list</a>
</div>
