<div class="container mt-5" *ngIf="train">
  <h1 class="title-color"><span class="fa-solid fa-train-tunnel me-3"></span>Train details</h1>

  <button
    *ngIf="authService.isAuthenticated()"
    (click)="toggleForm()"
    class="btn my-3"
    [ngClass]="showForm ? 'btn-danger' : 'btn-primary'"
  >
    <span class="fa-solid me-1" [ngClass]="showForm ? 'fa-times' : 'fa-edit'"></span>
    {{ showForm ? 'Cancel' : 'Edit' }}
  </button>
  <div *ngIf="showForm" class="col-12 col-md-3">
    <app-trains-update [train]="train" (updatedTrain)="train = $event"></app-trains-update>
  </div>

  <p class="label-color">
    <a class="link-color" [routerLink]="['/train-models', train.model]">{{ train.model_name }}</a> {{ train.number }}
  </p>

  <ul class="label-color">
    <li *ngIf="train.nickname != null">Aka {{ train.nickname }}</li>

    <li>Actual state: {{ train.actual_state }}</li>
    <li>Constructed in {{ train.construction_year }}</li>
    <li>Entered service in {{ train.year_entered_service }}</li>
    <li>Run {{ train.kilometers_run }} km until now</li>

    <li *ngIf="train.latest_inspection != null">Latest inspection in {{ train.latest_inspection }}</li>

    <li>Operated by {{ train.operator }}</li>
    <li>
      Runs on the route
      <a class="link-color" [routerLink]="['/routes', train.associated_route]">
        {{ train.associated_route_name }}
      </a>
    </li>
  </ul>

  <a class="btn btn-secondary mt-3" routerLink="/trains"><span class="fa-solid fa-arrow-left me-2"></span>Back to the list</a>
</div>
