<h2>Login</h2>

<div *ngIf="error" class="text-danger mt-2">
  {{ error }}
</div>

<form method="POST" (ngSubmit)="login()">
  <div>
    <label for="username">Username:</label>
    <input id="username" name="username" type="text" [(ngModel)]="username" required/>
  </div>

  <div>
    <label for="password">Password:</label>
    <input id="password" name="password" type="password" [(ngModel)]="password" required/>
  </div>

  <p>Forgot your password? <a routerLink="/password-reset">Reset it here</a></p>

  <div>
    <button type="submit">Login</button>
  </div>
</form>

<p>Don't have an account? <a routerLink="/register">Register</a></p>
