<div class="container mt-5 site-box p-4 shadow col-lg-6">
  <h1 class="title-color"><span class="fa-solid fa-train me-3"></span>Train models</h1>

  <div class="d-flex align-content-center" [ngClass]="authService.isAuthenticated() ? 'justify-content-between' : 'justify-content-end'">
    <button
      *ngIf="authService.isAuthenticated()"
      (click)="toggleForm()"
      class="btn mt-3 mb-1"
      [ngClass]="showForm ? 'btn-danger' : 'btn-primary'"
    >
      <span class="fa-solid me-1" [ngClass]="showForm ? 'fa-times' : 'fa-plus'"></span>
      {{ showForm ? 'Cancel' : 'New' }}
    </button>
    <div class="dropdown">
      <button class="dropdown-toggle btn btn-secondary mt-3 mb-1" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
        <span class="text-white fa-solid fa-arrow-up-wide-short"></span>
      </button>
      <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end" aria-labelledby="dropdownMenuButton">
        <li><a class="dropdown-item cursor-pointer" [ngClass]="{'active': currentSorting === 'lower_name'}" (click)="loadTrainModels('lower_name')"><span class="fa-solid fa-input-text me-2"></span>Name (A-Z)</a></li>
        <li><a class="dropdown-item cursor-pointer" [ngClass]="{'active': currentSorting === '-id'}" (click)="loadTrainModels('-id')"><span class="fa-solid fa-id-card-clip me-1"></span> ID (Newest First)</a></li>
      </ul>
    </div>
  </div>
  <div *ngIf="showForm">
    <app-train-models-add (addTrainModelEvent)="addTrainModel($event)" [errors]="errors"></app-train-models-add>
  </div>

  <div class="label-color mt-3" *ngIf="!trainModels || trainModels.length === 0">There are currently no train models</div>

  <table *ngIf="trainModels && trainModels.length > 0" class="w-100 mt-3 border-table">
    <thead class="title-color text-center">
    <th class="py-2">Name</th>
    <th class="py-2">Type</th>
    <th class="py-2">Actions</th>
    </thead>
    <tbody class="label-color">
    <tr *ngFor="let trainModel of trainModels">
      <td class="py-2 ps-3 w-50">
        <p>{{ trainModel.name }}</p>
      </td>
      <td class="py-2 ps-3 w-25">
        <p>
          {{ trainModel.type }}
        </p>
      </td>
      <td class="w-25">
        <a [routerLink]="['/train-models', trainModel.id]" class="btn btn-primary mx-3"><span class="fa-solid fa-info-circle"></span></a>
        <button *ngIf="trainModel.trains.length === 0 && authService.isAuthenticated()" (click)="deleteTrainModel(trainModel)" class="btn btn-danger mt-2 ms-3 mt-md-0 ms-md-0"><span class=" fa-solid fa-trash"></span></button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
