<div *ngIf="errors.non_field_errors" class="text-danger mt-2">
  {{ errors.non_field_errors[0] }}
</div>

<form method="POST" (ngSubmit)="updateStation()" class="mt-1">
  <div class="mb-3">
    <label for="name" class="form-label label-color">Name*</label>
    <input id="name" name="name" type="text" class="form-background" required [(ngModel)]="station.name"/>
    <div *ngIf="errors.name" class="text-danger mt-2">{{ errors.name[0] }}</div>
  </div>

  <div class="mb-3">
    <label for="city" class="form-label label-color">City*</label>
    <input id="city" name="city" type="text" class="form-background" required [(ngModel)]="station.city"/>
    <div *ngIf="errors.city" class="text-danger mt-2">{{ errors.city[0] }}</div>
  </div>

  <div class="mb-3">
    <label for="platforms" class="form-label label-color">Platforms*</label>
    <input id="platforms" name="platforms" type="number" class="form-background" required min="1" [(ngModel)]="station.platforms"/>
    <div *ngIf="errors.platforms" class="text-danger mt-2">{{ errors.platforms[0] }}</div>
  </div>

  <div class="mb-3">
    <label for="openingYear" class="form-label label-color">Opening year</label>
    <input id="openingYear" name="opening_year" type="number" min="0" class="form-background" [(ngModel)]="station.opening_year"/>
    <div *ngIf="errors.opening_year" class="text-danger mt-2">{{ errors.opening_year[0] }}</div>
  </div>

  <div class="mb-2">
    <label for="mainStation" class="form-label label-color">Is it the main station in town?</label>
    <input id="mainStation" name="main_station" type="checkbox" class="ms-2" required [(ngModel)]="station.main_station"/>
    <div *ngIf="errors.main_station" class="text-danger mt-2">{{ errors.main_station[0] }}</div>
  </div>

  <div class="mb-3">
    <label for="actualState" class="form-label label-color">Actual state*</label>
    <select id="actualState" name="actual_state" class="form-background" required [(ngModel)]="station.actual_state">
      <option *ngFor="let state of actual_states" [value]="state[1]">{{ state[1] }}</option>
    </select>
    <div *ngIf="errors.actual_state" class="text-danger mt-2">{{ errors.actual_state[0] }}</div>
  </div>

  <button type="submit" class="btn mt-2 mb-3 btn-success"><span class="fa-solid fa-up-to-line me-2"></span>Save changes</button>
</form>
