.body-background {
  background-color: #212121;
}

.form-background {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  appearance: none;
  background-color: #303030;
  background-clip: padding-box;
  border: 1px solid #b4b4b4;
  border-radius: 4px;
  color: #ececec;
}

.form-background:focus {
  color: #ececec;
}

.title-color {
  color: #ececec;
}

.label-color {
  color: #b4b4b4;
}

.link-color {
  text-decoration: underline;
  font-weight: 600;
  color: #ececec;
}

.site-box {
  border-radius: 15px;
  background-color: #303030;
}

.card-color {
  background-color: #212121;
  border: 1px solid #b4b4b4;
}

.li-background {
  background-color: #212121;
  border: 0 none !important;
}

.border-table {
  border: 1px solid #b4b4b4;
  background-color: #212121;
}

th,
td,
tr {
  border: 1px solid #b4b4b4;
}
