<div class="container mt-5 site-box p-4 shadow col-lg-6">
  <h1 class="title-color"><span class="fa-solid fa-train-tunnel me-3"></span>Trains</h1>

  <button
    *ngIf="authService.isAuthenticated()"
    (click)="toggleForm()"
    class="btn mt-3 mb-1"
    [ngClass]="showForm ? 'btn-danger' : 'btn-primary'"
  >
    <span class="fa-solid me-1" [ngClass]="showForm ? 'fa-times' : 'fa-plus'"></span>
    {{ showForm ? 'Cancel' : 'New' }}
  </button>
  <div *ngIf="showForm">
    <app-trains-add (addTrainEvent)="addTrain($event)" [errors]="errors"></app-trains-add>
  </div>

  <table *ngIf="trains" class="w-100 mt-3 border-table">
    <thead class="title-color text-center">
    <th class="py-2">Model</th>
    <th class="py-2">Number</th>
    <th class="py-2">Actions</th>
    </thead>
    <tbody class="label-color">
    <tr *ngFor="let train of trains">
      <td class="py-2 ps-3 w-50">
        <p>{{ train.model_name }}</p>
      </td>
      <td class="py-2 ps-3 w-25">
        <p>
          {{ train.number }}
        </p>
      </td>
      <td class="w-25">
        <a [routerLink]="['/trains', train.id]" class="btn btn-primary mx-3"><span class="fa-solid fa-info-circle"></span></a>
        <button *ngIf="authService.isAuthenticated()" (click)="deleteTrain(train)" class="btn btn-danger mt-2 ms-3 mt-md-0 ms-md-0"><span class=" fa-solid fa-trash"></span></button>
      </td>
    </tr>
    </tbody>
  </table>

  <p class="text-white" *ngIf="trains.length === 0">There are currently no trains</p>
</div>
