<div class="container">
  <h1>Trains</h1>
  <input
    *ngIf="authService.isAuthenticated()"
    type="button"
    (click)="toggleForm()"
    [value]="showForm ? 'Cancel' : '+ New'"
    class="btn"
    [class]="showForm ? 'btn-danger' : 'btn-primary'"
  />
  <div *ngIf="showForm" class="col-12 col-md-3 mt-3 mt-lg-0">
    <app-trains-add (addTrainEvent)="addTrain($event)" [errors]="errors"></app-trains-add>
  </div>
  <ul>
    <li *ngFor="let train of trains">
      <a [routerLink]="['/trains', train.id]">{{ train.model_name }} {{ train.number }}</a>&nbsp;
      <span *ngIf="authService.isAuthenticated()" (click)="deleteTrain(train)" role="button" class="fa-solid fa-trash"></span>
    </li>
  </ul>
</div>
