<div class="container mt-5">
  <h1 class="title-color"><span class="fa-solid fa-train-tunnel me-3"></span>Trains</h1>

  <button
    *ngIf="authService.isAuthenticated()"
    (click)="toggleForm()"
    class="btn mt-3 mb-1"
    [ngClass]="showForm ? 'btn-danger' : 'btn-primary'"
  >
    <span class="fa-solid me-1" [ngClass]="showForm ? 'fa-times' : 'fa-plus'"></span>
    {{ showForm ? 'Cancel' : 'New' }}
  </button>
  <div *ngIf="showForm" class="col-12 col-md-3">
    <app-trains-add (addTrainEvent)="addTrain($event)" [errors]="errors"></app-trains-add>
  </div>

  <ul class="label-color">
    <li *ngFor="let train of trains" class="my-3">
      <a class="link-color" [routerLink]="['/trains', train.id]">{{ train.model_name }} {{ train.number }}</a>&nbsp;
      <span *ngIf="authService.isAuthenticated()" (click)="deleteTrain(train)" role="button" class="fa-solid fa-trash ms-1 text-danger"></span>
    </li>
  </ul>
</div>
